/* ===============
CUSTOM PROPERTIES
================= */
:root {
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 0 0% 81%;

    --clr-primary-400: 263 55% 52%;

    --clr-secondary-100:210 46% 95%;
    --clr-secondary-400: 217 19% 35%;
    --clr-secondary-900: 219 29% 14%;

    --ff-primary: 'Barlow Semi Condensed', sans-serif;
    --fs-400: 0.8125rem;
    --fw-500: 500;
    --fw-600: 600;
}

/* ===============
RESET
================= */

/* sets box sizing rules */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* sets root core defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* sets body core defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* resets margin rules */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* removes unnecessary space caused by line height */
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
}

/* gives a elements without a class default styling */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* makes images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* removes default styling from ol and ul elements */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* inherits fonts for buttons and input elements */
button,
input,
select,
textarea {
    font: inherit
}

/* removes animations, transition and scrolling effect for people who prefer not to see these */
@media(prefers-reduced-motion: reduce) {

    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}