/* ===============
CUSTOM PROPERTIES
================= */
:root {
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 0 0% 99%;
    --clr-neutral-300: 0 0% 81%;

    --clr-primary-400: 263 55% 52%;

    --clr-secondary-100:210 46% 95%;
    --clr-secondary-400: 217 19% 35%;
    --clr-secondary-900: 219 29% 14%;

    --ff-primary: 'Barlow Semi Condensed', sans-serif;

    --fs-400: 0.8125rem;
    --fs-500: 0.9375rem;
    --fs-600: 1.31rem;

    --fw-500: 500;
    --fw-600: 600;
}

/* ===============
RESET
================= */

/* sets box sizing rules */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* sets root core defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* sets body core defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    color: hsl(var(--clr-secondary-900));

    background-color: hsl(var(--clr-secondary-100));

    display: grid;
    place-items: center;
}

/* resets margin rules */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* removes unnecessary space caused by line height */
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
}

/* gives a elements without a class default styling */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* makes images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* removes default styling from ol and ul elements */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* inherits fonts for buttons and input elements */
button,
input,
select,
textarea {
    font: inherit
}

/* removes animations, transition and scrolling effect for people who prefer not to see these */
@media(prefers-reduced-motion: reduce) {

    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ===============
UTILITY CLASSES
================= */

.container {
    width: 90%;
    max-width: 70rem;
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

/* ===============
COMPONENTS
================= */

.card {
    padding-block: 2rem;
    padding-inline: 2rem;
    border-radius: 0.5rem;
    background-color: var(--bg);
    color: hsl(var(--fg))
}

.card img {
    width: 2.125rem;
    height: 2.125rem;
    aspect-ratio: 1;
    border: 0.125rem solid var(--border-clr);
    border-radius: 50%;
}

.card figcaption > P:last-of-type {
    color: hsl(var(--fg) / .5);
}

.card blockquote h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
}

.card blockquote p {
    color: hsl(var(--fg) / .7);
}

/* ===============
LAYOUT
================= */

.grid--testimonials {
    padding-block: 3rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "card-one"
    "card-two"
    "card-three"
    "card-four"
    "card-five"
    ;
}

.grid--testimonials > *:first-child {
    --bg: hsl(var(--clr-primary-400));
    --fg: var(--clr-neutral-100);
    --border-clr: hsl(var(--fg) / .5);
    grid-area: card-one;
}
.grid--testimonials > *:nth-child(2) {
    --bg: hsl(var(--clr-secondary-400));
    --fg: var(--clr-neutral-100);
    --border-clr: hsl(var(--bg));
    grid-area: card-two;
}
.grid--testimonials > *:nth-child(3) {
    --bg: hsl(var(--clr-neutral-100));
    --fg: var(--clr-secondary-900);
    --border-clr: hsl(var(--bg));
    grid-area: card-three;
}
.grid--testimonials > *:nth-child(4) {
    --bg: hsl(var(--clr-secondary-900));
    --fg: var(--clr-neutral-100);
    --border-clr: hsl(var(--clr-primary-400));
    grid-area: card-four;
}
.grid--testimonials > *:last-child {
    --bg: hsl(var(--clr-neutral-200));
    --fg: var(--clr-secondary-900);
    --border-clr: hsl(var(--bg));
    grid-area: card-five;
}

@media (min-width: 40em) {
    .grid--testimonials {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "card-one card-two"
        "card-one card-three"
        "card-five card-four"
        "card-five card-four"
        ;
    }
}

@media (min-width: 62.5em) {
    .grid--testimonials {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "card-one card-one card-two card-five"
        "card-three card-four card-four card-five"
        ;
    }
}

